@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Noto+Sans:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Josefin+Sans:wght@200&family=Moul&family=Noto+Sans:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;

}

.wrapper {
    
    background-color: white;
    color:black;
    width: 100%;
    height: 1024px;
    padding-top: 100px;
    
}

.navbar {
    width: 100%;
}

.encabezado {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;

}

.titulo {
    position: relative;
    top: 70px;
    text-align: center;
    font-size: 40px;
    font-family: Lilita One;
    
}

.imgbarra{
    display: flex;
}
.iconobarra {
    width: 200px;
}



/* modo oscuro*/

.switch {
    background: rgba(117, 147, 238, 1);
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    width: 90px;
    height: 35px;

}

.switch span {
    width: 50px;
    height: 50px;
    line-height: 30px;
    display: block;
    background: none;
    color: black;
}

.switch::before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
    background: white;
    top: -5px;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);

}

.switch.active::before {
    background: rgba(242, 232, 131, 1);
    color: black;
    right: 0;
    left: unset;
}

body.active .wrapper {
    background-color: rgba(31, 26, 65, 1);

}

body.active .menu a {
    color: black;
}

body.active a{

    color: white;

}

body.active .titulo{
    color: white;
}

body.active .miproceso {
    background-color: rgba(31, 26, 65, 1);
    color: white;

}

body.active .cajaflex {
    background-color: rgba(31, 26, 65, 1);

}

body.active .pasos {
    background-color: rgba(31, 26, 65, 1);

}

body.active .pasos h3 {
    color: white;
    font-family: Roboto Mono;
    font-size: 30px;
}

body.active .infopasos {
    color: white;
}

body.active .contacto {
    background-color: rgba(31, 26, 65, 1);
    font-family: Josefin Sans;
    color: white;

}

body.active .contacto h2 {
    
    font-family: Roboto Mono;
    
}

body.active .contacto button {
    border: 2px solid white;
    color: white;
}



body.active .footer {
    background-color: rgba(31, 26, 65, 1);
    color: white;
    
}

body.active .footer p {
    font-family: Roboto Mono;

}

/* acaba modo oscuro */

.menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    
}

.menu li {
    list-style: none;
    text-decoration: none;

}

.menu a {
    color:black;
    text-decoration: none;
    font-family: Noto Sans;
    font-size: 23px;
    font-weight: bold;
}

.menu a:hover{
    background-color: bisque;
    color: black;
    transition: ease-in .4s;
}

main{
    padding: 10px;
}
/*----carousel----*/
.swiper-mySwiper{
    position: relative;
}

.carousel_anterior,
.carousel_siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top:calc(50% - 35px);
    cursor:pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: black;
    opacity:20%;
}

.carousel_anterior:hover,
.carousel_siguiente:hover{
    opacity: 100%;
}

.carousel_anterior {
    left: -10px;
}

.carousel_siguiente {
    right: -10px;
}

.carousel{
    position: relative;
    top: 110px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;

}

.swiper-slide img {
    display: block;
    
}

.sgpantalla {
    
    display: flex;
    justify-content: space-around;
    font-family: Josefin Sans;
    font-size: 29px;
    width: 100%;
    height: 1024px;
    padding-top: 270px;
    padding-bottom: 200px;
    background-color: white;

}
.containerframe {
    width: 400px;
    display: block;
    justify-content: space-around;
    height: auto;

}

.sgpantalla img {
    width: 600px;
    height: 400px;
}

.containerframe button {
    width: 298px;
    height: 84px;
    border-radius: 50px;
    background-color:rgba(229, 237, 133, 1);
    border: none;
    position: relative;
    margin: 30px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.cajaflex{
    background-color: white;
    width: 100%;
    height: 1024px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    
    
}
.contenido {
    width: 1300px;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    
}

.info-content {
    width: 441px;
    height: 411px;
    background-color:rgba(229, 237, 133, 1);
    font-family: Moul;
    border-radius: 60px;
    overflow-x: hidden;
    padding-top: 100px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    
}

.info-content img {
    position: absolute;
    left: 150px;
    margin-top: -10px;
    width: 52px;
    height: 51px;
    
}

.info-content h2{
    margin-bottom: 25px;
}

.info-content p {
    font-family: Lilita One;
    font-size: 20px;
}

.imagenlogo {
    display: block;
    width: 322px;
    height: 322px;
    position: absolute;
    left: 490px;
    top: 2400px;
    


}

.fondo{
    background-image: url(img/retrato-hembra-joven-saltar\ 1.png);
    height: 1024px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 120px;
    
}

.infofondo{
    width: 495px;
    height: 344px;
    border-radius: 110px;
    background-color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    
}

.infofondo img{
    width: 132px;
    height: 124px;
    position: relative;
    left: 180px;

}

.counter {
    font-size: 2.5rem;
    margin: 10px 0;
}

.infofondo h2 {
    text-align: center;
    font-family: Jockey One;
    position: relative;
    top: 45px;

}

.pasos {
    background-color:white;
    width: 100%;
    height: 1024px;
    font-family: Josefin Sans;
    padding-top: 150px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.pasosprimer{
    width: 900px;
    height: auto;
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: center;
}

.pasosprimer h3 {
    font-family: Lilita One;
    font-size: 40px;
    
    text-align: center;
}

.pasosprimer h2{
    background-color: rgba(245, 207, 207, 1);
    border-radius: 100px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    margin-top: 30px;
    justify-content: center;
    width: 500px;
    left: 170px;
   
     
}

.contenedorpasos{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.infopasos{
    width: 300px;
    height: 114px;
    border-radius: 20px;
    padding-top: 30px;

}

.infopasos img {
    width: 393px;
    height: 410px;
}
.infopasos h2{
    position: relative;
    text-align: center;
}

.contacto {
    background-color: white;
    width: 100%;
    height: 1024px;
    padding-top: 70px;
    padding-left: 50px;

}

.contacto .fila {
    display: flex;
    justify-content: space-around;
}

.contacto .col {
    width: 50%;
    padding: 10px;
    position: relative;

}

.contacto .col input, .contacto .col textarea {

    display: block;
    width: 550px;
    padding: 18px;
    margin-bottom: 20px;
    color: black;
    font-size: 18px;

}

.contacto .col textarea {

    border: none;
    border-radius: 20px;
    background-color: rgba(229, 237, 133, 1);

}

.contacto button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid black;
    width: fit-content;
    display: block;
    left: 200px;
    padding: 10px 22px;
    font-size: 16px;
    color: black;
    position: relative;
    z-index: 10;
}

.msjecontacto {
    width: 520px;
    height: auto;
    position: relative;
    margin-top: 120px;
}

.msjecontacto h2 {
    margin-bottom: 20px;
}
.msjecontacto h2,p {
   
    text-align: left;
    font-family: Moul;

}

.nuevop {
    font-family: Roboto Mono;
    position: absolute;
    margin-left: 2px;
}

.footer {

    width: 100%;
    height: 604px;
    display: flex;
    justify-content: space-around;
    padding-top: 240px;
}

.footer p {
    width: 450px;
    height: 204px;
    font-family: Lilita One;
    font-size: 25px;
    position: relative;
    margin-top: -30px;
}

.footer button {
    width: 402px;
    height: 84px;
    border-radius: 100px;
    background-color: rgba(229, 237, 133, 1);
    border: none;
    font-family: Lilita One;
    cursor: pointer;
}

footer{
    background-color: rgba(229, 237, 133, 1);
    width: 100%;
    height: 420px;
    font-family: Moul;
    padding-top: 110px;
    
}

footer .final {
    
    position: relative;
    left: 50px;
    
}

footer img{
    margin-top: 20px;
    width: 286px;
    height: 174px;
    border-radius: 250px;
}

/* RESPONSIVE */

@media only screen and (max-width:600px){

    .wrapper {
        height: 800px;
        width: 100%;
    }

    .wrapper .menu a{
        font-size: 18px;
        width: 100%;
    }

    .wrapper header nav {
        width: 300px;
        height: auto;
        position: fixed;
        margin-left: 60px;
        background-color: brown;
        padding: 15px;
        border-radius: 10px;
        text-align: left;
        z-index: 99;
        display: none;
        
    }

    .wrapper header nav .menu {
        display: block;
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
    
    }
    
    .iconobarra {
        width: 200px;
    }
    .miproceso {
    
        font-size: 12px;
        width: 100%;
        height: auto;
        padding-top: 30px;
        padding-left: 10px;
        
    
    }
    
    .miproceso main {
        width: 100%;
        height: 650px;
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    
    .video {
        left: 25%;
        top: 1000px;
        
        
    }
    
    video {
        width: 350px;
        height: 440px;
        left: 10px;
    
    }
    
    .miproceso h2 {
        width: 350px;
        height: auto;
        
    }
    
    
    .miproceso button {
        width: 138px;
        height: 44px;
        border-radius: 50px;
        background-color:rgba(229, 237, 133, 1);
        border: none;
        position: relative;
        margin: 12px;
        margin-bottom: 90px;
        font-size: 18px;
        font-weight: bold;
    }
    
    .cajaflex{
        background-color: white;
        width: 100%;
        height: auto;
        padding-top: 50px;
    }
    .contenido {
        
        height: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
        
    }
    
    .info-content {
        width: 200px;
        height: 211px;
        border-radius: 30px;
        padding: 20px;
        text-align: center;
        font-size: 12px;
        
    }
    
    .info-content img {
        position: absolute;
        left: 70px;
        margin-top: -6px;
        width: 20px;
        height: 20px;
        
    }
    
    .info-content h2{
        margin-bottom: 12px;
        font-size: 13px;
    }
    
    .info-content p {
        font-size: 12px;
    }
    
    .imagenlogo {
        display: block;
        width: 170px;
        height: 170px;
        position: absolute;
        left: 210px;
        top: 1660px;
    }
    .pasos {
        background-color: white;
        width: 100%;
        height: 1024px;
        font-family: Josefin Sans;
        padding-top: 150px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
    }
    
    .pasosprimer{
        width: 100%;
        height: auto;
        overflow-x: hidden;
    }
    
    .pasosprimer p{
        font-size: 18px;
    }
    .pasosprimer h2 {
        background-color: rgba(245, 207, 207, 1);
        border-radius: 100px;
        padding: 12px;
        width: auto;
        height: auto;
        font-size: 18px;
        position: relative;
         
    }
    
    .contenedorpasos{
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        margin-top: 20px;
        align-items: center;
    }
    .infopasos{
        width: 300px;
        height: 114px;
        border-radius: 20px;
        padding-top: 30px;
    
    }
    
    .infopasos h2{
        position: relative;
        text-align: center;
        font-size: 18px;
    }
    .fondo{
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 70px;
        padding-bottom: 50px;
        
    }
    
    .infofondo{
        width: 200px;
        height: 211px;
        border-radius: 60px;
    }
    
    .infofondo img{
        width: 50px;
        height: 50px;
        position: relative;
        left: 70px;
    
    }
    
    .infofondo h2 {
        position: relative;
        top: 90px;
        font-size: 18px;
    }
    .contacto {
        height: auto;
        padding-top: 20px;
        padding-left: 20px;
    
    }
    
    .contacto .fila {
        height: 730px;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;
        
    }
    
    .contacto .col {
        padding: 10px;
        position: relative;
    
    }
    
    .contacto .col input, .contacto .col textarea {
    
        display: block;
        width: 320px;
        padding: 10px;
        margin-bottom: 10px;
        color: black;
        font-size: 18px;
        
    
    }
    
    .contacto .col textarea {
    
        border: none;
        border-radius: 20px;
        background-color: rgba(229, 237, 133, 1);
        width: 320px;
        height: 100px;
    
    }
    
    .contacto button {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid black;
        width: fit-content;
        display: block;
        left: 120px;
        padding: 10px 22px;
        font-size: 16px;
        color: black;
        position: relative;
        z-index: 10;
    }
    
    .contacto img{
        width: 200px;
        height: 100px;

    }
    .msjecontacto {
        width: 400px;
        height: auto;
        position: relative;
        top: -20px;
        
    }
    
    .msjecontacto h2 {
        margin-bottom: 20px;
    }
    .msjecontacto h2,p {
       
        text-align: left;
        font-family: Moul;
        font-size: 15px;
    
    }
    
    .nuevop {
        font-family: Roboto Mono;
        position: absolute;
        margin-left: 2px;
    }

    .footer {

        width: 100%;
        height: 600px;
        position: relative;
        display: flex;
        flex-flow: column;
        padding-top: 70px;
        align-items: center;
        justify-content: space-around;
    }
    
    .footer p {
        width: 280px;
        height: 204px;
        font-family: Lilita One;
        font-size: 20px;
        position: relative;
        margin-top: 50px;
    }
    
    .footer button {
        width: 162px;
        height: 54px;
        position: relative;
        top: -100px;
    }
    
    footer{
        background-color: rgba(229, 237, 133, 1);
        width: 100%;
        height: 220px;
        font-family: Moul;
        padding-top: 60px;
        
    }
    
    footer .final {
        
        position: relative;
        left: 50px;
        
        
    }

    footer h2 {
        font-size: 15px;
    }
    
    footer img{
        margin-top: 20px;
        width: 186px;
        height: 74px;
        border-radius: 150px;
    }


}
